.app {
  position: relative;
}

.profile-button {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 10px; /* Расстояние от верхней границы */
  right: 25px; /* Расстояние от правой границы */
}

.profile-button-item {
  padding: 8px;
  border-radius: 5px;
  background-color: #4e7ab5;
  color: white;
  border: none;
}

.table-title {
  text-align: center;
}
a {
  text-decoration: none;
}

.header {
  margin: 30px 10px 10px 10px;
  display: flex;
  height: 50px;
  align-items: center;
}
/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
