.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dfe3e8;
}

.register-form {
  width: 300px;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
}

.register-form h2 {
  margin-top: 0;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group-data {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-left: -4px;
  margin-bottom: 2px;
  font-size: 13px;
}

/* input[type='email'],
input[type='password'],
input[type='text'] {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: -7px;
} */

button[type='submit'] {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background-color: #4e7ab5;
  color: white;
  border: none;
}

button:hover {
  filter: brightness(1.2);
}

.to-login {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.to-login a {
  color: blue;
  text-decoration: underline;
}
